@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

header {
  width: 100%;
  background-color: #f7f7f7;
  height: 64px;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 0.3%;
  z-index: 5;
}

header > a img {
  width: 100px;
  padding: 0.5%;
}

.menu_text {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  text-align: center;
  float: right;
  width: 80%;
}

.menu_text a {
  margin: 1%;
}

.menu_text > .menu_btn {
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  width: 6%;
  height: 28px;
}

#fix_menu {
  background-color: #333;
  color: #fff;
  width: 25%;
  height: 53px;
  border-radius: 30px;
  position: fixed;
  bottom: 1%;
  left: 37.5%;
  line-height: 53px;
  text-align: center;
  z-index: 6;
  font-weight: 400;
}

footer {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  width: 75%;
  height: 245px;
  text-align: left;
}
footer h4 {
  padding: 2% 0;
  font-size: 18px;
}
footer h6 {
  font-size: 12px;
  font-weight: 500;
  color: #8b8b8b;
}
footer .flist {
  display: flex;
  flex-flow: row nowrap;
}
footer .flist a {
  font-size: 12px;
  color: #555;
  margin-right: 1.5%;
  margin-top: 1.5%;
  font-weight: 600;
}
footer p {
  font-size: 10px;
  margin: 2% 0;
  font-weight: 600;
  color: #8b8b8b;
}
footer .f_right {
  width: 15%;
  float: right;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 2%;
}
footer .f_right img {
  width: 15%;
  margin: 0 2%;
}

#m_top_wrap {
  width: 100%;
  background-color: #f7f7f7;
  height: 820px;
  background-image: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
}
#m_top_wrap .m_top {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  height: 756px;
  position: relative;
}
#m_top_wrap .m_top img:first-child {
  width: 65%;
  position: absolute;
  top: 20%;
  right: 0%;
}
#m_top_wrap .m_top img:nth-of-type(2) {
  width: 350px;
  position: absolute;
  top: 20%;
  left: 0;
  transform: translateY(-30px);
  transition: all 1s;
  opacity: 0;
}
#m_top_wrap .m_top img:last-child {
  width: 180px;
  position: absolute;
  bottom: 5%;
  left: 0;
  transform: translateY(-30px);
  transition: all 1s;
  opacity: 0;
}

#m1 {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  height: 1037px;
  width: 100%;
}
#m1 h2 {
  font-size: 49px;
  font-weight: 700;
  color: #242424;
  line-height: 130%;
  padding-top: 8%;
  margin: 0 2% 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
}
#m1 p {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin: 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}
#m1 .m1_slide1 {
  width: 100%;
  height: 190px;
  margin: 0 0 0.5%;
  background: url("../img/m1slide1.png") repeat-x;
  animation: slideRight 600s linear infinite;
}
#m1 .m1_slide2 {
  width: 100%;
  height: 190px;
  margin: 0.5% 0;
  background: url("../img/m1slide2.png") repeat-x;
  animation: slideLeft 600s linear infinite;
}
#m1 .m1_slide3 {
  width: 100%;
  height: 190px;
  margin: 0 0 0.5%;
  background: url("../img/m1slide3.png") repeat-x;
  animation: slideRight 600s linear infinite;
}

@keyframes slideRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px, 0;
  }
}
@keyframes slideLeft {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10000px, 0;
  }
}
#m2 {
  width: 100%;
  background-color: #f7f7f7;
  height: 970px;
}
#m2 .m2wrap {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
}
#m2 .m2wrap h2 {
  font-size: 49px;
  font-weight: 700;
  color: #242424;
  line-height: 130%;
  padding-top: 8%;
  margin: 0 2% 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
}
#m2 .m2wrap p {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin: 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
}
#m2 .m2wrap img {
  width: 60%;
  margin: 3%;
}
#m2 .m2wrap .m2_button {
  border: 0.5px solid #333;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin-left: 43%;
}
#m2 .m2wrap .m2_button:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}

#m3 {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  height: 1800px;
}
#m3 h2 {
  font-size: 49px;
  font-weight: 700;
  color: #242424;
  line-height: 130%;
  padding-top: 8%;
  margin: 0 2% 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
}
#m3 p {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin: 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
}
#m3 h6 {
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  padding: 1%;
  margin: 5% 0 0;
}
#m3 .list {
  height: 330px;
  text-align: left;
}
#m3 .list .box {
  height: 300px;
  width: 150px;
  margin: 10px;
  float: left;
}
#m3 .list .box h3 {
  font-size: 17px;
}
#m3 .list .box h6 {
  font-size: 15px;
  font-weight: 500;
  color: #666;
}
#m3 .list .box h5 {
  font-size: 13px;
  font-weight: 500;
}
#m3 .list .box img {
  width: 100%;
  height: auto;
}
#m3 #list_c .box {
  position: relative;
}
#m3 #list_c .box img:nth-of-type(2) {
  width: 40px;
  margin-top: 5%;
}
#m3 #list_c .box .listbox img:nth-of-type(1) {
  width: 40px;
  position: absolute;
  top: 0;
  right: -6px;
}
#m3 #list_c .box .listbox img:nth-of-type(2) {
  width: 40px;
  position: absolute;
  top: 25px;
  right: -6px;
}

#m4 {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  height: 750px;
}
#m4 h2 {
  font-size: 49px;
  font-weight: 700;
  color: #242424;
  line-height: 130%;
  padding-top: 8%;
  margin: 0 2% 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
}
#m4 p {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin: 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
}
#m4 ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 5% 0 2%;
}
#m4 ul li {
  border: 0.5px solid #333;
  border-radius: 15px;
  width: 6%;
  margin: 0.2%;
  cursor: pointer;
}
#m4 ul li:first-child {
  background-color: #333;
  color: #fff;
}
#m4 .recommend {
  float: left;
  overflow: hidden;
  width: 100%;
}
#m4 .recommend .box {
  height: 310px;
  width: 150px;
  float: left;
  margin: 0 0.7%;
  text-align: left;
}
#m4 .recommend .box img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#m4 .recommend .box h3 {
  font-weight: 900;
  font-size: 15px;
}
#m4 .recommend .box h6 {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 500;
}
#m4 .recommend .box h5 {
  color: #666;
  font-size: 14px;
  font-weight: 500;
}
#m4 .recommend:not(:nth-of-type(1)) {
  display: none;
}

#m5_wrap {
  width: 100%;
  background-color: #f7f7f7;
  height: 843px;
}
#m5_wrap .m5 {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
}
#m5_wrap .m5 h2 {
  font-size: 49px;
  font-weight: 700;
  color: #242424;
  line-height: 130%;
  padding-top: 8%;
  margin: 0 2% 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
}
#m5_wrap .m5 p {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin: 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
}
#m5_wrap .m5 .card {
  position: relative;
  height: 515px;
}
#m5_wrap .m5 .card img:nth-of-type(1) {
  width: 35%;
  position: absolute;
  left: 33%;
}
#m5_wrap .m5 .card img:nth-of-type(2) {
  width: 15%;
  position: absolute;
  left: 10%;
  top: 55%;
  transform: translateY(50px);
  transition: all 3s;
  opacity: 0;
}
#m5_wrap .m5 .card img:nth-of-type(3) {
  width: 15%;
  position: absolute;
  left: 15%;
  top: 10%;
  transform: translateY(-50px);
  transition: all 3s;
  opacity: 0;
}
#m5_wrap .m5 .card img:nth-of-type(4) {
  width: 15%;
  position: absolute;
  right: 15%;
  top: 10%;
  transform: translateY(-50px);
  transition: all 3s;
  opacity: 0;
}
#m5_wrap .m5 .card img:nth-of-type(5) {
  width: 15%;
  position: absolute;
  right: 10%;
  top: 55%;
  transform: translateY(50px);
  transition: all 3s;
  opacity: 0;
}

#m6_wrap {
  width: 100%;
  background-color: #f7f7f7;
  height: 772px;
  background: #ffe04b;
}
#m6_wrap .m6 {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
}
#m6_wrap .m6 h2 {
  font-size: 49px;
  font-weight: 700;
  color: #242424;
  line-height: 130%;
  padding-top: 8%;
  margin: 0 2% 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
}
#m6_wrap .m6 p {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin: 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
}
#m6_wrap .m6 .m6_subwrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#m6_wrap .m6 .m6_subwrap .m6_sub {
  background-color: #fff;
  width: 30%;
  height: 300px;
  border-radius: 15px;
}
#m6_wrap .m6 .m6_subwrap .m6_sub h6 {
  font-size: 23px;
  margin: 5%;
  text-align: start;
}
#m6_wrap .m6 .m6_subwrap .m6_sub .month, #m6_wrap .m6 .m6_subwrap .m6_sub .dc, #m6_wrap .m6 .m6_subwrap .m6_sub .year {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: baseline;
  margin: 2% 5%;
}
#m6_wrap .m6 .m6_subwrap .m6_sub .month span, #m6_wrap .m6 .m6_subwrap .m6_sub .dc span, #m6_wrap .m6 .m6_subwrap .m6_sub .year span {
  font-size: 20px;
}
#m6_wrap .m6 .m6_subwrap .m6_sub .month .price, #m6_wrap .m6 .m6_subwrap .m6_sub .dc .price, #m6_wrap .m6 .m6_subwrap .m6_sub .year .price {
  font-size: 35px;
  font-weight: 800;
}
#m6_wrap .m6 .m6_subwrap .m6_sub .dc {
  align-items: baseline;
}
#m6_wrap .m6 .m6_subwrap .m6_sub .dc span {
  font-weight: 100;
  text-decoration: line-through;
  align-self: flex-end;
  margin-left: 7%;
}
#m6_wrap .m6 .m6_subwrap .m6_sub .dc img {
  align-self: flex-end;
  margin-left: 3%;
  max-width: 50px;
}
#m6_wrap .m6 .m6_subwrap .m6_sub h5 {
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  margin-left: 5%;
  margin-top: 5%;
}
#m6_wrap .m6 .m6_subwrap .m63 {
  background-color: #ffe04b;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#m6_wrap .m6 .m6_subwrap .m63 .m6_icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
}
#m6_wrap .m6 .m6_subwrap .m63 .m6_icon img {
  width: 20%;
}
#m6_wrap .m6 .m6_subwrap .m63 .m6_icon span {
  width: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 35px;
  text-align: start;
}
#m6_wrap .m6 .m6_subwrap .m63 .m6_icon:first-child {
  border-bottom: 1px solid #fff;
}

#m7 {
  width: 100%;
  background-color: #f7f7f7;
  background: #fff;
  height: 934px;
}
#m7 .m7_top {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #f7f7f7;
  cursor: pointer;
}
#m7 .m7_top .m7_audio, #m7 .m7_top .m7_viewer {
  width: 100%;
  height: 100%;
  text-align: center;
}
#m7 .m7_top .m7_audio img, #m7 .m7_top .m7_viewer img {
  width: 28px;
  height: auto;
  margin: 20px 0 5px;
}
#m7 .m7_content {
  background-color: #f7f7f7;
  width: 100%;
}
#m7 .m7_content .view {
  display: none;
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  position: relative;
  height: 834px;
}
#m7 .m7_content .view > img {
  position: absolute;
  top: 4%;
  left: 2%;
  width: 45px;
}
#m7 .m7_content .view h2 {
  font-size: 49px;
  font-weight: 700;
  color: #242424;
  line-height: 130%;
  padding-top: 8%;
  margin: 0 2% 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
#m7 .m7_content .view p {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin: 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
  font-size: 25px;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 0;
}
#m7 .m7_content .view .m7_text {
  position: absolute;
  bottom: 32%;
  left: 0;
}
#m7 .m7_content .view .m7_text .m7_text1 > h5, #m7 .m7_content .view .m7_text b {
  font-size: 23px;
  text-align: left;
}
#m7 .m7_content .view .m7_text .m7_text1:not(:first-child) {
  display: none;
}
#m7 .m7_content .view .m7_button {
  position: absolute;
  bottom: 25%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
#m7 .m7_content .view .m7_btn {
  border: 0.5px solid #333;
  border-radius: 30px;
  width: 100%;
  margin: 2%;
  cursor: pointer;
}
#m7 .m7_content .view .m7_img1 {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 350px;
  height: 600px;
  border-radius: 55px;
  overflow: hidden;
}
#m7 .m7_content .view .m7_img1 > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#m7 .m7_content .view .m7_img1 .m7inner1 {
  width: 1400px;
}
#m7 .m7_content .view .m7_img1 .m7inner1 li {
  width: 349px;
  height: 600px;
  float: left;
}
#m7 .m7_content .view .m7_img1 .m7inner1 li img, #m7 .m7_content .view .m7_img1 .m7inner1 li video {
  width: 100%;
  height: 100%;
}
#m7 .m7_content_a {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  position: relative;
  height: 834px;
}
#m7 .m7_content_a > img {
  position: absolute;
  top: 4%;
  left: 2%;
  width: 45px;
}
#m7 .m7_content_a h2 {
  font-size: 49px;
  font-weight: 700;
  color: #242424;
  line-height: 130%;
  padding-top: 8%;
  margin: 0 2% 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
#m7 .m7_content_a p {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin: 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
  font-size: 25px;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 0;
}
#m7 .m7_content_a .m7_text {
  position: absolute;
  bottom: 32%;
  left: 0;
}
#m7 .m7_content_a .m7_text .m7_text1 > h5, #m7 .m7_content_a .m7_text b {
  font-size: 23px;
  text-align: left;
}
#m7 .m7_content_a .m7_text .m7_text1:not(:first-child) {
  display: none;
}
#m7 .m7_content_a .m7_button {
  position: absolute;
  bottom: 25%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
#m7 .m7_content_a .m7_btn {
  border: 0.5px solid #333;
  border-radius: 30px;
  width: 100%;
  margin: 2%;
  cursor: pointer;
}
#m7 .m7_content_a .m7_img {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 350px;
  height: 600px;
  border-radius: 55px;
  overflow: hidden;
}
#m7 .m7_content_a .m7_img > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#m7 .m7_content_a .m7_img .m7inner {
  width: 1400px;
}
#m7 .m7_content_a .m7_img .m7inner li {
  width: 349px;
  height: 600px;
  float: left;
}
#m7 .m7_content_a .m7_img .m7inner li img, #m7 .m7_content_a .m7_img .m7inner li video {
  width: 100%;
  height: 100%;
}

#m8_wrap {
  width: 100%;
  background-color: #f7f7f7;
  background: #ffe04b;
}
#m8_wrap .m8 {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
}
#m8_wrap .m8 h2 {
  font-size: 49px;
  font-weight: 700;
  color: #242424;
  line-height: 130%;
  padding-top: 8%;
  margin: 0 2% 2%;
  transform: translateY(-80px);
  transition: all 1.5s;
  opacity: 0;
  padding-bottom: 5%;
}
#m8_wrap .m8 .qna {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 3%;
}
#m8_wrap .m8 .qna > li {
  line-height: 50px;
  text-align: left;
  padding: 0 2%;
  background-color: #fff;
  margin: 2% 0;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 700;
  position: relative;
}
#m8_wrap .m8 .qna > li img {
  width: 20px;
  position: absolute;
  top: 15px;
  right: 5%;
}
#m8_wrap .m8 .qna > li .toggleclass {
  transform: rotate(180deg);
}
#m8_wrap .m8 .qna > li .answer {
  width: 100%;
  display: none;
  border-top: 0.5px solid #444;
}
#m8_wrap .m8 .qna > li .answer li {
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
}