@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

header {
  width: 100%;
  background-color: #f7f7f7;
  height: 64px;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 0.5%;
  z-index: 5;
}
header .menu_logo {
  float: left;
  padding: 0.5% 1%;
}
header .menu_logo a img {
  width: 65px;
}
header .menu_search {
  float: left;
  margin-left: 20%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 500px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #ffe04b;
  font-weight: 500;
}
header .menu_search #search_bar {
  width: 100px;
  background: none;
  outline: none;
  border: none;
  color: #333;
  font-size: 14px;
  text-align: center;
}
header .menu_search #search_bar option {
  font-size: 13px;
}
header .menu_search input {
  background: none;
  border: none;
  width: 300px;
  outline: none;
  transition: all 0.3s;
}
header .menu_search button {
  background: none;
  border: none;
}
header .menu_search button img {
  width: 40px;
}
header .menu_text {
  float: right;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 0.3%;
}
header .menu_text .menu_btn {
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

#fix_menu {
  background-color: #333;
  color: #fff;
  width: 25%;
  height: 53px;
  border-radius: 30px;
  position: fixed;
  bottom: 1%;
  left: 37.5%;
  line-height: 53px;
  text-align: center;
  z-index: 6;
  font-weight: 400;
}

footer {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  width: 75%;
  height: 245px;
  text-align: left;
}
footer h4 {
  padding: 2% 0;
  font-size: 18px;
}
footer h6 {
  font-size: 12px;
  font-weight: 500;
  color: #8b8b8b;
}
footer .flist {
  display: flex;
  flex-flow: row nowrap;
}
footer .flist a {
  font-size: 12px;
  color: #555;
  margin-right: 1.5%;
  margin-top: 1.5%;
  font-weight: 600;
}
footer p {
  font-size: 10px;
  margin: 2% 0;
  font-weight: 600;
  color: #8b8b8b;
}
footer .f_right {
  width: 15%;
  float: right;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 2%;
}
footer .f_right img {
  width: 15%;
  margin: 0 2%;
}

#purchase_box {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 40;
  background-color: #fff;
  border-top: 1px solid #dfdfdf;
  bottom: 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}
#purchase_box .leftbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#purchase_box .leftbox p {
  font-size: 16px;
}
#purchase_box .leftbox h6 {
  font-size: 20px;
  margin-left: 30px;
}
#purchase_box .rightbox {
  width: 600px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#purchase_box .rightbox .calculate {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
#purchase_box .rightbox .calculate > div {
  font-size: 18px;
  flex-grow: 1;
  font-weight: 700;
}
#purchase_box .rightbox .calculate .price_value {
  border: none;
  width: 25px;
  font-size: 18px;
  text-align: center;
}
#purchase_box .rightbox > div {
  border: 1px solid #dfdfdf;
  height: 70%;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
  line-height: 45px;
  font-size: 16px;
  flex-grow: 1;
  font-weight: 500;
}
#purchase_box .rightbox .check {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  flex-grow: 2;
}
#purchase_box .rightbox .check :nth-of-type(1) {
  flex-grow: 1;
  font-size: 17px;
}
#purchase_box .rightbox .check :nth-of-type(2) {
  background-color: #ffe04b;
  flex-grow: 1;
  font-size: 17px;
  font-weight: bold;
}

#sub_top {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  display: flex;
  flex-flow: column wrap;
  padding-top: 150px;
}
#sub_top .title {
  width: 100%;
}
#sub_top .title > h2 {
  font-size: 40px;
}
#sub_top .title .part {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: #f7f7f7;
  border-radius: 10px;
  margin: 5% auto;
  width: 300px;
}
#sub_top .title .part div {
  width: 50%;
  height: 50px;
  line-height: 25px;
  background-color: #fff;
  box-shadow: 2px 5px 10px #777;
  transition: all 0.2s ease-out;
  border-radius: 10px;
}
#sub_top .title .part div span {
  display: block;
}
#sub_top .title .part .ebo {
  background: transparent;
  box-shadow: none;
}
#sub_top .imgbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#sub_top .imgbox .imgwrap {
  width: 420px;
  height: 600px;
  transform-style: preserve-3d;
  perspective: 1500px;
}
#sub_top .imgbox .imgwrap .bookimg {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform-style: preserve-3d;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  cursor: url(../img/cursor.svg), pointer;
}
#sub_top .imgbox .imgwrap .bookimg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#sub_top .imgbox .imgwrap .bookimg:before {
  content: "";
  position: absolute;
  width: 71px;
  height: 100%;
  background: url(../img/bookside.png);
  top: 0;
  left: 0;
  transform-origin: left;
  background-size: cover;
  background-position: center;
  transform: rotateY(90deg);
}
#sub_top .imgbox .imgwrap .bookimg:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: center;
  background: url(../img/bookback.jpg);
  transform: rotateY(180deg) translateZ(71px);
  background-size: cover;
  background-position: center;
}
#sub_top .imgbox .price {
  width: 600px;
}
#sub_top .imgbox .price .pop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
#sub_top .imgbox .price .pop p {
  border: 0.5px solid #ddd;
  border-radius: 5px;
  padding: 1%;
  margin: 0 1%;
  color: #777;
}
#sub_top .imgbox .price table {
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
}
#sub_top .imgbox .price table tr {
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
#sub_top .imgbox .price table tr th {
  text-align: left;
  width: 100px;
  padding-left: 20px;
}
#sub_top .imgbox .price table tr td {
  padding: 20px;
  text-align: right;
  width: 160px;
}
#sub_top .imgbox .price tr:nth-of-type(1) span {
  text-align: left;
  margin-right: 5px;
  font-size: 24px;
  display: inline;
  vertical-align: baseline;
}
#sub_top .imgbox .price tr:nth-of-type(1) span:nth-of-type(1) {
  color: #4dac27;
  font-weight: bold;
}
#sub_top .imgbox .price tr:nth-of-type(1) span:nth-of-type(2) {
  color: #333;
  font-weight: bold;
}
#sub_top .imgbox .price tr:nth-of-type(1) span:nth-of-type(3) {
  font-size: 14px;
  text-decoration: line-through;
}
#sub_top .imgbox .price tr:nth-of-type(2) button {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
}
#sub_top .imgbox .price tr:nth-of-type(2) button img {
  width: 100%;
}
#sub_top .imgbox .price tr:nth-of-type(3) {
  border: none;
}
#sub_top .imgbox .price tr:nth-of-type(3) th {
  vertical-align: top;
  padding-top: 30px;
}
#sub_top .imgbox .price tr:nth-of-type(3) td button {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
}
#sub_top .imgbox .price tr:nth-of-type(3) td button img {
  width: 100%;
}
#sub_top .imgbox .price tr:nth-of-type(4) {
  border: none;
}
#sub_top .imgbox .price tr:nth-of-type(4) td {
  font-weight: bold;
}
#sub_top .imgbox .price tr:nth-of-type(4) td button {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
}
#sub_top .imgbox .price tr:nth-of-type(4) td button img {
  width: 100%;
}
#sub_top .imgbox .price tr:nth-of-type(5) td {
  font-weight: 400;
}
#sub_top .imgbox .price tr:nth-of-type(5) td button {
  width: 45px;
  height: 24px;
  display: inline-block;
  margin-left: 8px;
  background: #fff;
  font-size: 12px;
  border: 0.5px solid #ddd;
  border-radius: 5px;
  font-weight: 600;
}
#sub_top .imgbox .price tr:nth-of-type(6) button {
  border: 2px solid #f7f7f7;
  background: none;
  padding: 3%;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}
#sub_top .imgbox .price tr:nth-of-type(6) button:hover {
  background: #ffe04b;
}
#sub_top .imgbox .price > button {
  background: none;
  margin: 10% auto;
  padding: 2%;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 250px;
  align-items: center;
}

#sub_wrap {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  box-sizing: border-box;
  padding-top: 100px;
  display: flex;
  flex-flow: row wrap;
}
#sub_wrap .sub_left {
  width: 70%;
  text-align: left;
}
#sub_wrap .sub_left h6 {
  font-size: 20px;
}
#sub_wrap .sub_left > div {
  margin: 10% 0;
}
#sub_wrap .sub_left .list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ddd;
}
#sub_wrap .sub_left .list p {
  margin: 2% 4%;
}
#sub_wrap .sub_left .list p a {
  font-size: 17px;
}
#sub_wrap .sub_left .event {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2% 0;
}
#sub_wrap .sub_left .event .p img {
  width: 90%;
}
#sub_wrap .sub_left .event .p h5,
#sub_wrap .sub_left .event .p p {
  margin: 2% 0;
}
#sub_wrap .sub_left .with .sublist1 {
  display: flex;
  flex-flow: row nowrap;
  background: #f7f7f7;
  justify-content: flex-start;
  margin: 3% 0;
  height: 330px;
  border-radius: 20px;
}
#sub_wrap .sub_left .with .sublist1 .box {
  width: 15%;
  height: 200px;
  margin: 2%;
}
#sub_wrap .sub_left .with .sublist1 .box img {
  width: 100%;
}
#sub_wrap .sub_left .with .sublist1 .box h3 {
  font-size: 15px;
  font-weight: 600;
}
#sub_wrap .sub_left .with .sublist1 .box h6 {
  font-size: 13px;
  color: #666;
  font-weight: normal;
}
#sub_wrap .sub_left .with .sublist1 .box h5 {
  font-size: 13px;
  color: #333;
}
#sub_wrap .sub_left .pick {
  overflow: hidden;
  cursor: pointer;
}
#sub_wrap .sub_left .pick #pick_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 1% 0;
}
#sub_wrap .sub_left .pick #pick_list li {
  margin: 1%;
  border: 1px solid #f7f7f7;
  padding: 1%;
  border-radius: 20px;
  background: #f7f7f7;
}
#sub_wrap .sub_left .pick #pick_list li:nth-of-type(1) {
  background: #666;
  color: #fff;
}
#sub_wrap .sub_left .pick .pick {
  float: left;
  overflow: hidden;
  width: 100%;
}
#sub_wrap .sub_left .pick .pick .box {
  height: 200px;
  width: 135px;
  float: left;
}
#sub_wrap .sub_left .pick .pick .box img {
  width: 75%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#sub_wrap .sub_left .pick .pick:not(:nth-of-type(1)) {
  display: none;
}
#sub_wrap .sub_left .introduce {
  margin-top: 5%;
  width: 90%;
}
#sub_wrap .sub_left .introduce > h3 {
  font-size: 20px;
  margin: 2% 0;
}
#sub_wrap .sub_left .introduce h4 {
  font-size: 17px;
  margin: 3% 0;
  font-weight: 500;
}
#sub_wrap .sub_left .introduce p {
  font-size: 15px;
  margin: 2% 0;
  font-weight: 400;
  line-height: 25px;
  height: 95px;
  overflow: hidden;
}
#sub_wrap .sub_left .introduce h5 {
  font-size: 16px;
  font-weight: 600;
}
#sub_wrap .sub_left .introduce #txt1_show {
  background: none;
  border: none;
  display: flex;
  width: 70px;
  justify-content: space-between;
}
#sub_wrap .sub_left .introduce #txt1_show span {
  font-size: 14px;
  font-weight: bold;
  color: gray;
}
#sub_wrap .sub_left .introduce #txt1_show img {
  width: 20px;
  transform: rotate(180deg);
}
#sub_wrap .sub_left .author .author_box {
  margin: 2% 0;
  background: #f7f7f7;
  border-radius: 10px;
  width: 95%;
}
#sub_wrap .sub_left .author .author_box p {
  margin: 2%;
  padding-top: 2%;
}
#sub_wrap .sub_left .author .author_box .tx2box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}
#sub_wrap .sub_left .author .author_box .tx2box img {
  width: 80px;
  border-radius: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
#sub_wrap .sub_left .author .author_box .tx2box span p {
  height: 105px;
  overflow: hidden;
  margin: 2%;
  padding-top: 0px;
}
#sub_wrap .sub_left .author .author_box .tx2box span #txt2_show {
  background: none;
  border: none;
  display: flex;
  width: 70px;
  justify-content: space-between;
  margin-left: 2%;
}
#sub_wrap .sub_left .author .author_box .tx2box span #txt2_show > span {
  font-size: 14px;
  font-weight: bold;
  color: gray;
}
#sub_wrap .sub_left .author .author_box .tx2box span #txt2_show > img {
  width: 20px;
  transform: rotate(180deg);
}
#sub_wrap .sub_left .author .author_box .author_list {
  width: 100%;
  height: 230px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#sub_wrap .sub_left .author .author_box .author_list .box {
  width: 16%;
  margin: 1%;
}
#sub_wrap .sub_left .author .author_box .author_list .box img {
  width: 90%;
}
#sub_wrap .sub_left .author .author_box .author_list .box h3 {
  font-size: 14px;
  font-weight: 600;
}
#sub_wrap .sub_left .suggestion {
  margin-right: 3%;
}
#sub_wrap .sub_left .suggestion h2 {
  font-size: 20px;
  margin: 3% 0;
}
#sub_wrap .sub_left .suggestion h3 {
  font-size: 16px;
  color: navy;
  margin: 0.5% 0;
}
#sub_wrap .sub_left .suggestion p {
  font-size: 14px;
  margin-bottom: 3%;
  color: #333;
}
#sub_wrap .sub_left .suggestion .hide {
  height: 0;
  overflow: hidden;
}
#sub_wrap .sub_left .suggestion #txt3_show {
  background: none;
  border: none;
  display: flex;
  width: 80px;
  justify-content: space-between;
}
#sub_wrap .sub_left .suggestion #txt3_show span {
  font-size: 14px;
  font-weight: bold;
  color: gray;
}
#sub_wrap .sub_left .suggestion #txt3_show img {
  width: 20px;
  transform: rotate(180deg);
}
#sub_wrap .sub_left .into_book {
  width: 95%;
}
#sub_wrap .sub_left .into_book h3 {
  font-size: 20px;
  margin: 3% 0;
  padding-top: 5%;
  border-top: 1px solid #ddd;
}
#sub_wrap .sub_left .into_book p {
  color: #333;
  height: 130px;
  overflow: hidden;
}
#sub_wrap .sub_left .into_book #txt4_show {
  background: none;
  border: none;
  display: flex;
  width: 80px;
  justify-content: space-between;
}
#sub_wrap .sub_left .into_book #txt4_show span {
  font-size: 14px;
  font-weight: bold;
  color: gray;
}
#sub_wrap .sub_left .into_book #txt4_show img {
  width: 20px;
  transform: rotate(180deg);
}
#sub_wrap .sub_left .information {
  width: 95%;
}
#sub_wrap .sub_left .information h3 {
  font-size: 20px;
  margin: 3% 0;
  padding-top: 5%;
  border-top: 1px solid #ddd;
}
#sub_wrap .sub_left .information p {
  color: #333;
  height: 120px;
  overflow: hidden;
}
#sub_wrap .sub_left .information #txt5_show {
  background: none;
  border: none;
  display: flex;
  width: 80px;
  justify-content: space-between;
}
#sub_wrap .sub_left .information #txt5_show span {
  font-size: 14px;
  font-weight: bold;
  color: gray;
}
#sub_wrap .sub_left .information #txt5_show img {
  width: 20px;
  transform: rotate(180deg);
}
#sub_wrap .sub_left .return h3 {
  font-size: 20px;
  margin: 2% 0;
}
#sub_wrap .sub_left .return h3 div {
  border: 0.5px solid #ddd;
  float: right;
  font-weight: 500;
  padding: 1%;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 0.5%;
  cursor: pointer;
}
#sub_wrap .sub_left .return h3 div:nth-of-type(2) {
  background: #ffe04b;
}
#sub_wrap .sub_left .return h3 div:nth-of-type(2) img {
  width: 18px;
}
#sub_wrap .sub_left .return ul {
  border-bottom: 0.5px solid #ddd;
  font-size: 16px;
  font-weight: 600;
  margin: 2% 0;
}
#sub_wrap .sub_left .return ul li {
  margin: 2% 0;
  font-weight: 400;
  font-size: 14px;
}
#sub_wrap .sub_right {
  width: 28%;
  box-sizing: border-box;
  margin-left: 2%;
}
#sub_wrap .sub_right .side_best {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: space-around;
}
#sub_wrap .sub_right .side_best h1 {
  font-size: 18px;
  text-align: left;
  padding-top: 65%;
  padding-left: 5%;
}
#sub_wrap .sub_right .side_best h1 span {
  font-size: 12px;
  font-weight: 400;
  margin-left: 130px;
}
#sub_wrap .sub_right .side_best .box {
  width: 330px;
  height: 200px;
  margin: 1%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
#sub_wrap .sub_right .side_best .box img {
  width: 115px;
  margin: 3%;
}
#sub_wrap .sub_right .side_best .box .ranking {
  background: #ffe04b;
  color: #fff;
  margin-top: 15%;
  width: 25px;
  border-radius: 5px 0 5px 0;
  align-self: flex-start;
}
#sub_wrap .sub_right .side_best .box h3 {
  font-size: 15px;
  margin-top: 3%;
  align-self: flex-start;
  width: 167px;
  text-align: left;
}
#sub_wrap .sub_right .side_best .box h6 {
  font-size: 13px;
  margin-top: 3%;
  font-weight: 400;
}
#sub_wrap .sub_right .side_best .box h5 {
  font-size: 13px;
  margin-top: 3%;
}
#sub_wrap .sub_right .side_best .box h5 span {
  color: #4dac27;
  margin-right: 10px;
}
#sub_wrap .sub_right .ad {
  margin: 10% 0;
}
#sub_wrap .sub_right .ad img {
  border-radius: 15px;
  margin: 2%;
}
#sub_wrap .sub_right .side_new {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: space-around;
}
#sub_wrap .sub_right .side_new h1 {
  font-size: 18px;
  text-align: left;
  padding-left: 5%;
}
#sub_wrap .sub_right .side_new h1 span {
  font-size: 12px;
  font-weight: 400;
  margin-left: 160px;
}
#sub_wrap .sub_right .side_new .box {
  width: 330px;
  height: 200px;
  margin: 1%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
#sub_wrap .sub_right .side_new .box img {
  width: 115px;
  margin: 3%;
}
#sub_wrap .sub_right .side_new .box .ranking {
  background: #ffe04b;
  color: #fff;
  margin-top: 15%;
  width: 25px;
  border-radius: 5px 0 5px 0;
  align-self: flex-start;
}
#sub_wrap .sub_right .side_new .box h3 {
  font-size: 15px;
  margin-top: 3%;
  align-self: flex-start;
  width: 167px;
  text-align: left;
}
#sub_wrap .sub_right .side_new .box h6 {
  font-size: 13px;
  margin-top: 3%;
  font-weight: 400;
}
#sub_wrap .sub_right .side_new .box h5 {
  font-size: 13px;
  margin-top: 3%;
}
#sub_wrap .sub_right .side_new .box h5 span {
  color: #4dac27;
  margin-right: 10px;
}