@charset "utf-8";

@import "vaiables","mixins";

//헤더
header{@include wrap_content; height:64px;border-bottom:1px solid #dfdfdf;position:fixed;top:0;left:0;background-color:#fff;padding:0.3%;z-index:5;}
header> a img{width:100px;padding:0.5%;}
.menu_text{display:flex; flex-flow:row wrap; justify-content:flex-end;text-align:center;float:right; width:80%}
.menu_text a{margin:1%;}
.menu_text> .menu_btn{border-radius:20px; background-color:#333; color:#fff;width:6%;height:28px;}

#fix_menu{background-color:#333; color:#fff; width:25%; height:53px; border-radius:30px; position:fixed; bottom:1%; left:37.5%;line-height:53px;text-align:center;z-index:6;font-weight:400;}


//풋터

footer{
    @include main-content; width:75%; height:245px;text-align:left;
    h4{ padding:2% 0; font-size:18px;}
    h6{ font-size:12px;font-weight:500; color:$text_color4;}
    .flist{display:flex; flex-flow:row nowrap; 
        a{font-size:12px; color:#555;margin-right:1.5%;margin-top:1.5%;font-weight:600;}
    }
    p{font-size:10px; margin:2% 0; font-weight:600; color:$text_color4;}
    .f_right{width:15%;float:right;display:flex; flex-flow:row nowrap;
        justify-content:flex-end;align-items:flex-end;margin:2%;
              img{width:15%; margin:0 2%;}
    }

}


