@charset "utf-8";

@import "vaiables", "mixins";

//헤더
header {
    @include wrap_content;
    height: 64px;
    border-bottom: 1px solid #dfdfdf;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 0.5%;
    z-index: 5;

    .menu_logo {
        float: left;
        padding: 0.5% 1%;

        a img {
            width: 65px;
        }
    }

    .menu_search {
        float: left;
        margin-left: 20%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 500px;
        height: 45px;
        border-radius: 50px;
        border: 2px solid $point_color;
        font-weight: 500;

        #search_bar {
            width: 100px;
            background: none;
            outline: none;
            border: none;
            color: #333;
            font-size: 14px;
            text-align: center;

            option {
                font-size: 13px;
            }
        }

        input {
            background: none;
            border: none;
            width: 300px;
            outline: none;
            transition: all 0.3s;
        }


        button {
            background: none;
            border: none;

            img {
                width: 40px;
            }
        }
    }

    .menu_text {
        float: right;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        margin: 0.3%;
           .menu_btn {
                border-radius: 20px;
                background-color: #333;
                color: #fff;
                width: 70px;
                height: 30px;
                line-height: 30px;
                text-align: center;
            }
        a:hover{font-weight:bold;}
    }
}

#fix_menu {
    background-color: #333;
    color: #fff;
    width: 25%;
    height: 53px;
    border-radius: 30px;
    position: fixed;
    bottom: 1%;
    left: 37.5%;
    line-height: 53px;
    text-align: center;
    z-index: 6;
    font-weight: 400;
}



//풋터

footer {
    @include main-content;
    height: 245px;
    text-align: left;

    h4 {
        padding: 2% 0;
        font-size: 18px;
    }

    h6 {
        font-size: 12px;
        font-weight: 500;
        color: $text_color4;
    }

    .flist {
        display: flex;
        flex-flow: row nowrap;

        a {
            font-size: 12px;
            color: #555;
            margin-right: 1.5%;
            margin-top: 1.5%;
            font-weight: 600;
        }
    }

    p {
        font-size: 10px;
        margin: 2% 0;
        font-weight: 600;
        color: $text_color4;
    }

    .f_right {
        width: 15%;
        float: right;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 2%;

        img {
            width: 15%;
            margin: 0 2%;
        }
    }
}

