@charset "uft-8";

@import "vaiables";

@mixin h2-text{
    font-size:49px;
    font-weight:700;
    color:#242424;
    line-height:130%;
    padding-top:8%;
    margin:0 2% 2%;
    transform:translateY(-80px);
    transition:all 3s;
    opacity:0;
}

@mixin p-text{
    font-size:20px;
    font-weight:600;
    color:#555;
    margin:2%;
    transform:translateY(-80px);
    transition:all 3s;
    opacity:0;
}

@mixin main_content{
    margin:0 auto;
    text-align:center;
    width:1200px;
}

@mixin wrap_content{
    width:100%;
    background-color: $back_color;
}

