  @charset "utf-8";

  @import "vaiables", "reset", "common", "mixins";

  #purchase_box{
      width:100%; height:70px; position:fixed;z-index:40;background-color:#fff;border-top: 1px solid #dfdfdf; bottom:0; display:flex; margin:0 auto;justify-content:space-evenly; align-items:center;
      .leftbox{display:flex;justify-content:space-between; align-items:center;
        p{font-size:16px;}
        h6{font-size:20px;margin-left:30px;}}
      .rightbox{width:600px;display:flex; flex-flow:row nowrap; justify-content:space-between;align-items:center;
         .calculate{display:flex; flex-flow:row nowrap;justify-content:space-around; align-items:center;
           >div{font-size:18px;flex-grow:1; font-weight:700;}
           .price_value{border:none; width:25px; font-size:18px;text-align:center;}
          }
          >div{border:1px solid #dfdfdf;height:70%;border-radius:5px;text-align:center;margin-right:10px;line-height:45px;font-size:16px;flex-grow:1;font-weight:500;}
          .check{display:flex; justify-content:space-around; align-items:center;height:70%;flex-grow:2; 
             :nth-of-type(1){flex-grow:1;font-size:17px;}
             :nth-of-type(2){background-color:$point_color;flex-grow:1;font-size:17px;font-weight:bold;}}
      }

  }

  #sub_top {
    @include main_content;
    display: flex;
    flex-flow: column wrap;
    padding-top: 150px;

    .title {
      width: 100%;

      >h2 {
        font-size: 40px;
      }

      .part {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        background: $back_color;
        border-radius: 10px;
        margin: 5% auto;
        width: 300px;

        div {
          width: 50%;
          height: 50px;
          line-height: 25px;
          background-color: #fff;
          box-shadow: 2px 5px 10px #777;
          transition: all 0.2s ease-out;
          border-radius: 10px;

          span {
            display: block;
          }
        }

        .ebo {
          background: transparent;
          box-shadow: none;
        }
      }
    }

    .imgbox {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      transform-style:preserve-3d;
      perspective: 1000px;

      .bookimg{
        position:relative; 
        width:500px;
        height:630px;
        transition:0.5s;
        transform-style:preserve-3d;
        box-shadow:20px 20px 20px rgba(0,0,0,0.2);
        cursor:pointer;
        img{width:100%; height:100%; position:absolute; top:0; left:0;}
        &:before{content:''; position:absolute; width:60px;height:100%;background:url(../img/bookside.jpg);top:0; left:0;transform-origin: left;background-size:cover;
          background-position:center;
        transform:rotateY(90deg);}
        &:after{content:''; position:absolute; width:100%; height:100%;top:0; left:0;transform-origin:center; background:url(../img/bookback.jpg); transform:rotateY(180deg) translateZ(60px); background-size:cover;background-position:center;}
      }
      

      .price {
        width: 600px;

        .pop {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;

          p {
            border: 0.5px solid #ddd;
            border-radius: 5px;
            padding: 1%;
            margin: 0 1%;
            color: #777;
          }
        }

        table {
          border-collapse: collapse;
          width: 100%;
          box-sizing: border-box;

          tr {
            font-size: 14px;
            border-bottom: 1px solid #ddd;

            th {
              text-align: left;
              width: 100px;
              padding-left: 20px;
            }

            td {
              padding: 20px;
              text-align: right;
              width: 160px;
            }
          }
        }

        tr:nth-of-type(1) span {
          text-align: left;
          margin-right: 5px;
          font-size: 24px;
          display: inline;
          vertical-align: baseline;

          &:nth-of-type(1) {
            color: #4dac27;
            font-weight: bold;
          }

          &:nth-of-type(2) {
            color: #333;
            font-weight: bold;
          }

          &:nth-of-type(3) {
            font-size: 14px;
            text-decoration: line-through;
          }
        }

        tr:nth-of-type(2) button {
          width: 20px;
          height: 20px;
          border: none;
          background: none;
          vertical-align: middle;
          display: inline-block;
          margin-left: 5px;

          img {
            width: 100%;
          }
        }

        tr:nth-of-type(3) {
          border: none;

          th {
            vertical-align: top;
            padding-top: 30px;
          }

          td {
            button {
              width: 20px;
              height: 20px;
              border: none;
              background: none;
              vertical-align: middle;
              display: inline-block;
              margin-left: 5px;

              img {
                width: 100%;
              }
            }
          }
        }

        tr:nth-of-type(4) {
          border: none;

          td { font-weight:bold;
            button {
              width: 20px;
              height: 20px;
              border: none;
              background: none;
              vertical-align: middle;
              display: inline-block;
              margin-left: 5px;

              img {
                width: 100%;
              }
            }
          }
        }

        tr:nth-of-type(5) {
          td {font-weight: 400;
            button {
              width: 45px;
              height: 24px;
              display: inline-block;
              margin-left: 8px;
              background: #fff;
              font-size: 12px;
              border: 0.5px solid #ddd;
              border-radius:5px;
              font-weight:600;
            }
          }
        }

        tr:nth-of-type(6) {
          button {
            border: 2px solid #f7f7f7;
            background:none;
            padding: 3%;
            border-radius: 5px;
            font-size: 13px;
            cursor:pointer;
          }
          button:hover{
            background:#ffe04b;
          }
        }

        >button {
          background: none;
          margin: 10% auto;
          padding: 2%;
          border: 1px solid #ddd;
          border-radius: 5px;
          display:flex;
          flex-flow:row wrap;
          justify-content:space-between;
          width:250px;
          align-items:center;
        }
      }
    }

  }



  #sub_wrap {
    @include main_content;box-sizing:border-box; padding-top:100px;
    display: flex;
    flex-flow: row wrap;

    .sub_left {
      width: 70%;text-align:left;
      h6{font-size:20px;}
      >div{margin:10% 0;}

        .list{display:flex; flex-flow:row nowrap; justify-content:flex-start; align-items:center; width:100%; height:100px; border-bottom:1px solid #ddd;
        p{margin:2% 4%;
          a{font-size:17px;}}}

        .event{display:flex; flex-flow:row nowrap; justify-content:flex-start; align-items:flex-start; margin:2% 0;
          .p{
            img{width:90%};
            h5,p{margin:2% 0;}}
         
        }
          
        .with{
          .sublist1{display:flex; flex-flow:row nowrap; background:#f7f7f7;justify-content:flex-start;margin:3% 0; height:330px; border-radius:20px;
            .box{width:15%; height:200px;margin:2%;
              img{width:100%;}
              h3{font-size:15px; font-weight:600;}
              h6{font-size:13px; color:#666;font-weight:normal;}
              h5{font-size:13px; color:#333;}
            }}}  

        
        .pick{overflow:hidden; cursor:pointer;
          #pick_list{display:flex; flex-flow:row nowrap; justify-content:flex-start;margin:1% 0;
            li{margin:1%; border:1px solid $back_color; padding:1%; border-radius:20px; background:$back_color;}
            li:nth-of-type(1){background:#666; color:#fff;}}
            .pick{float:left;overflow:hidden; width:100%;
              .box{height:200px;width:135px;float:left;
                  img{width:75%; height:auto; object-fit:cover;}
                }}
            .pick:not(:nth-of-type(1)){display:none;}}


        .introduce{margin-top:5%;width:90%;
          >h3{font-size:20px; margin:2% 0;}
          h4{font-size:17px; margin:3% 0; font-weight:500;}
          p{font-size:15px; margin:2% 0; font-weight:400;line-height:25px;height:95px;overflow:hidden;}
          h5{font-size:16px;font-weight:600;}
          #txt1_show{background:none; border:none; display:flex; width:70px;justify-content:space-between;
            span{font-size:14px; font-weight:bold; color:gray;}
            img{width:20px; transform:rotate(180deg)}
          }}   


        .author{
          .author_box{margin:2% 0; background:$back_color; border-radius:10px; width: 95%;
            p{margin:2%;padding-top:2%;}
            .tx2box{display:flex; flex-flow:row nowrap;justify-content:space-between; align-items:center;margin:2%;
              img{width:80px; border-radius:150px;object-fit:contain}
              span{
                p{height:105px; overflow:hidden;margin:2%; padding-top:0px; }
                #txt2_show{background:none; border:none; display:flex; width:70px;justify-content:space-between; margin-left:2%;
                >span{font-size:14px; font-weight:bold; color:gray;}
                >img{width:20px; transform:rotate(180deg)}
              }}}
            .author_list{width:100%; height:230px;display:flex; flex-flow:row nowrap; justify-content:space-around;
              .box{width:16%; margin:1%;
                img{width:90%;}
                h3{font-size:14px; font-weight:600;}}}}}

        
          .suggestion{margin-right:3%;
            h2{font-size:20px; margin:3% 0;}
            h3{font-size:16px; color:navy; margin:0.5% 0;}
            p{font-size:14px; margin-bottom:3%;color:#333;}
            .hide{height:0; overflow:hidden;}
            #txt3_show{background:none; border:none; display:flex; width:80px;justify-content:space-between;
              span{font-size:14px; font-weight:bold; color:gray;}
              img{width:20px; transform:rotate(180deg)}
            }
          }
          
          .into_book{ width:95%;
            h3{font-size:20px; margin:3% 0; padding-top:5%; border-top:1px solid #ddd;}
            p{color:#333; height:130px; overflow:hidden;}
            #txt4_show{background:none; border:none; display:flex; width:80px;justify-content:space-between;
              span{font-size:14px; font-weight:bold; color:gray;}
              img{width:20px; transform:rotate(180deg)}
            }
          }

          .information{width:95%;
          h3{font-size:20px; margin:3% 0; padding-top:5%; border-top:1px solid #ddd;}
          p{color:#333; height:120px; overflow:hidden;}
          #txt5_show{background:none; border:none; display:flex; width:80px;justify-content:space-between;
            span{font-size:14px; font-weight:bold; color:gray;}
            img{width:20px; transform:rotate(180deg)}
          }
        }

          .return{
            h3{font-size:20px; margin:2% 0;
             div{border:0.5px solid #ddd;float:right;  font-weight:500; padding:1%; overflow:hidden;border-radius:5px;margin-left:0.5%; cursor:pointer;}
             div:nth-of-type(2){background:#ffe04b;
               img{width:18px;}}}
            ul{border-bottom:0.5px solid #ddd; font-size:16px; font-weight:600; margin:2% 0;
             li{margin:2% 0; font-weight:400; font-size:14px;}}

          }

        }




    .sub_right {
      width: 28%; box-sizing:border-box; margin-left:2%;

        .side_best{display:flex; flex-flow:column wrap; justify-content:flex-start; align-items:space-around;
        h1{font-size:18px; text-align:left; padding-top:65%;padding-left:5%;
            span{font-size:12px; font-weight:400; margin-left:130px;}}
        .box{height:200px;margin:1%; display:flex; flex-flow:column wrap; align-items:flex-start;
          img{width:35%; margin:3%;}
          // img:not{width:50%;}
          .ranking{background:#777; color:#fff; margin-top:15%; width:25px; border-radius:5px 0 5px 0;}
          h3{font-size:15px;margin-top:3%;}
          h6{font-size:13px;margin-top:3%;font-weight:400;}
          h5{font-size:13px;margin-top:3%;
            span{color:#4dac27;margin-right:10px;}}}}


        .ad{margin:10% 0; 
          img{border-radius:15px; margin:2%;}}  
          
          
        .side_new{display:flex; flex-flow:column wrap; justify-content:flex-start; align-items:space-around;
          h1{font-size:18px; text-align:left; padding-left:5%;
              span{font-size:12px; font-weight:400; margin-left:160px;}}
          .box{height:200px;margin:1%; display:flex; flex-flow:column wrap; align-items:flex-start;
            img{width:35%; margin:3%;}
            .ranking{background:#777; color:#fff;  width:20px;margin-top:15%;width:25px; border-radius:5px 0 5px 0;}
            h3{font-size:15px;margin-top:3%;}
            h6{font-size:13px;margin-top:3%;font-weight:400;}
            h5{font-size:13px;margin-top:3%;
              span{color:#4dac27;margin-right:10px;}}}}  



    }
  }



